# Ignore node_modules directory
node_modules/

# Ignore compiled binaries
*.exe
*.o

# Ignore log files
*.log

# Ignore environment-specific files
.env

# ignore parcel-cache
parcel-cache/

# ignore build folder

build/